body {
  // background-color: #FAF4E8;
  // background-color: tomato;
  background-color: #FFF7E5;
  -webkit-font-smoothing: antialiased;
}
.working-report__wrapper {
  position: relative;
  z-index: 10;
  .working-report__section:last-child {
    padding-bottom: 50px;
    .working-report__section__inner {
      padding-bottom: 80px;
    }
  }

  & > figure,
  & > div {
    z-index: 11;
  }

  // background-color: #FAF4E8;
  background-color: #FFF7E5;
  @include mq(tablet) {
    width: 740px;
    margin: 0 auto;
  }
  @include mq(desktop) {
    width: 980px;
  }
  @include mq(leftCol) {
    width: 1140px;
  }
  @include mq(wide) {
    width: 1300px;
  }
}
// figure.element:first-child {
//   margin: 0;
// }
