body {
  background-color: #FAF4E8;
}
.working-report__wrapper {
  position: relative;
  z-index: 10;

  & > figure,
  & > div {
    z-index: 11;
  }

  background-color: #FAF4E8;
  @include mq(tablet) {
    width: 740px;
    margin: 0 auto;
  }
  @include mq(desktop) {
    width: 980px;
  }
  @include mq(leftCol) {
    width: 1140px;
  }
  @include mq(wide) {
    width: 1300px;
  }
}
// figure.element:first-child {
//   margin: 0;
// }
