p.embed {
  padding: 22px 10px 24px;
  position: relative;
  font-family: "Guardian Headline","Guardian Egyptian Web",Georgia,serif;
  background-color: #FFF4F2;

  &.our-numbers {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #c70000;
    border-bottom: 1px solid #C70000;
    &:before,
    &:after {
      border-top: 1px solid #C70000;
      border-bottom: 1px solid #C70000;
    }
    strong {
      display: block;
      font-size: 82px;
      line-height: 78px;
      background-color: #FFF4F2;
      margin-top: -24px;
      padding-top: 24px;
      padding-bottom: 8px;
      position: relative;
      z-index: 1;
      font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;

      &:before {
        font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        position: absolute;
        top: 0;
        content: 'Our numbers';
        background-image: url(https://uploads.guim.co.uk/2020/12/10/numbers.svg);
        background-position: 3px 0;
        background-repeat: no-repeat;
        padding-left: 30px;
        font-size: 16px;
        line-height: 24px;
        display: block;

        font-weight: 400;
        -webkit-font-smoothing: subpixel-antialiased;

      }
    }

    &.long-number strong {
      font-size: 74px;
    }
  }

  &.supporter-quote {
    color: #041F4A;
    font-style: italic;
    font-size: 22px;
    line-height: 28px;
    font-weight: 200;
    padding-top: 24px;
    padding-bottom: 28px;
    -webkit-font-smoothing: subpixel-antialiased;
    border-bottom: 1px solid #EACCA0;

    @include mq(tablet) {
      &:not(.can-float) {
        font-size: 24px;
        line-height: 32px;
        padding-right: 100px;
      }
    }
    &:before,
    &:after {
      border-top: 1px solid #EACCA0;
      border-bottom: 1px solid #EACCA0;
    }
    .s {
      margin-top: -4px;
      margin-bottom: 6px;
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      font-style: normal;
      background-image: url(https://uploads.guim.co.uk/2020/12/10/supporters.svg);
      background-position: 3px 5px;
      background-repeat: no-repeat;
      padding-left: 29px;
      font-size: 16px;
      line-height: 24px;
      display: block;

      font-weight: 400;
      -webkit-font-smoothing: subpixel-antialiased;
    }

    strong,
    em {
      display: block;
      color: #E05E00;
      -webkit-font-smoothing: antialiased;
      margin-left: 58px;
      font-size: 22px;
      line-height: 28px;
    }
    @include mq(tablet) {
      &:not(.can-float) {
        strong,
        em {
          font-size: 24px;
          line-height: 28px;
          margin-left: 88px;
        }
      }
    }

    strong {
      margin-top: 0.5em;
      font-style: normal;
      font-weight: 700;
    }
    @include mq(tablet) {
      &:not(.can-float) {
        strong {
          margin-top: 0.85em;
        }
      }
    }

    em {
      font-style: italic;
      font-weight: 200;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 9px;
        bottom: 20px;
        width: 50px;
        height: 50px;
        background-image: url(https://uploads.guim.co.uk/2020/12/11/Globe@2x.png);
        background-size: 100% auto;
      }
    }
    @include mq(tablet) {
      &:not(.can-float) em:before {
        bottom: 16px;
        width: 76px;
        height: 75px;
      }
    }
}

  @include mq(tablet) {
    margin: 18px 0 24px -10px;
    &.can-float {
      float: left;
      clear: both;
      width: 300px;
      margin-right: 20px;
      margin-top: 6px;
      margin-bottom: 8px;
    }
  }
  @include mq(leftCol) {
    &.can-float {
      margin-left: -170px;
    }
  }
  @include mq(wide) {
    &.can-float {
      margin-left: -250px;
    }
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
  }
  &:before {
    top: 0;
  }
  &:after {
    top: 8px;
  }

}
