.wr-header {
  &__wrapper {
    position: relative;
    width: 100%;
    padding-top: 112px;
    margin-bottom: 100px;


    @include mq(mobileMedium) {
      padding-top: 132px;
      margin-bottom: 120px;
    }
    @include mq(tablet) {
      padding-top: 280px;
    }
    @include mq(desktop) {
      padding-top: 300px;
    }
    @include mq(leftCol) {
      padding-top: 380px;
    }

  }

  // &__inner {
  //   @include mq(desktop) {
  //     width: 980px;
  //     margin: auto;
  //     position: relative;
  //     height: 620px;
  //   }
  //   @include mq(leftCol) {
  //     width: 1140px;
  //     height: 800px;
  //   }
  //   @include mq(wide) {
  //     width: 1300px;
  //     height: 880px;
  //   }
  // }

  &__title {
    background-color: #052962;
    color: #ffe500;
    position: absolute;
    top: 24px;
    left: 10px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 10;
    padding: 4px 8px;
    @include mq(tablet) {
      left: 0;
      right: 80px;
    }
    @include mq(desktop) {
      padding: 4px 10px;
      right: 180px;
    }
    @include mq(leftCol) {
      right: auto;
      width: 920px;
    }

    h1 {
      margin: 0;
      font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
      font-size: 54px;
      line-height: 1;
      @include mq(mobileMedium) {
        font-size: 66px;
      }
      @include mq(tablet) {
        font-size: 120px;
      }
      @include mq(desktop) {
        font-size: 132px;
      }
      @include mq(leftCol) {
        font-size: 160px;
      }
    }

    .logo {
      svg {
        width: 4.8em;
        height: 1.61em;
      }
    }

    .in-2020 {
      display: block;
      margin-left: 1.12em;
      margin-top: -0.08em;
      .ios &,
      .android & {
        margin-top: -0.18em;
      }
    }

  }

  &__subtitle {
      position: relative;
      z-index: 20;
      margin-right: 40px;
      padding: 6px 10px 16px;
      transform: translateY(112px);
      background-color: #041F4A;
      color: #fff;
      box-shadow: 0 0 0 1px rgba(#506991,0.25);
      max-width: 620px;

      font-family: "Guardian Headline", "Guardian Egyptian Web", "Guardian Text Egyptian Web",Georgia,serif;
      position: relative;

      @include mq(mobileMedium) {
        padding-right: 20px;
      }
      @include mq(tablet) {
        width: 380px;
        margin-left: 140px;
        transform: translateY(116px);
        p {
          padding-right: 20px;
        }
      }
      @include mq(desktop) {
        width: 420px;
        margin-left: 160px;
      }
      @include mq(leftCol) {
        transform: translateY(118px);
        margin-left: 190px;
        width: 524px;
      }

      p {
        font-size: 20px;
        line-height: 23px;
        font-weight: 200;
        max-width: 620px;
        margin: 0 0 18px;
        @include mq(leftCol) {
          font-size: 22px;
          line-height: 25px;
        }
      }
      strong {
        font-weight: 600;
        display: block;
      }

      &__secondary {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin-top: 40px;
        .ios &,
        .android & {
          display: none;
        }

        .compact {
          display: none;
          @include mq(340px) {
            display: inline;
          }
          @include mq(420px) {
            display: none;
          }
        }
        .extended {
          display: none;
          @include mq(420px) {
            display: inline;
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: -16px;
          right: -10px;
          height: 1px;
          background-color: #506991;
          @include mq(mobileMedium) {
            right: -20px;
          }
          @include mq(tablet) {
            left: -10px;
          }
        }

        .meta__social {
          display: block;
        }


        .inline-icon {
          background-color: transparent;
          border: 1px solid #506991;
          width: 40px;
          height: 40px;
          margin-top: 4px;
          margin-left: -2px;
          margin-right: 6px;
          @include mq(desktop) {
            width: 44px;
            height: 44px;
            margin-right: 8px;
          }
        }

        svg {
          width: 36px;
          height: 36px;
          @include mq(desktop) {
            width: 40px;
            height: 40px;
            }
        }

        .support-button {
          display: block;
          padding-top: 12px;
          &__link {
            display: inline-block;
            line-height: 20px;
            background-color: #ffe500;
            color: #052962;
            padding: 9px 18px 11px;
            border-radius: 21px;
            font-weight: bold;
            font-size: 17px;
            margin-left: -2px;
            font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
          }
        }

      }
  }
}
