@include mq($until:desktop) {
  .working-report__nav {
    position: relative;
    z-index: 200;
    .working-report__nav__inner {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      transition: transform 0.5s ease-in-out;
      // background-color: #fff;
      background-color: #FAF4E8;

      color: #052962;
      border-bottom: 1px solid rgba(#506991, 0.5);
      // border-bottom: 1px solid rgba(#fff, 0.5);

      padding: 8px 10px 14px;
      &:before {
        display: none;
        margin-bottom: 4px;
      }

    }
    &[data-state='initial'] {
      .working-report__nav__inner {
        transform: translateY(-100%);
        opacity: 0;
      }
    }

    &[data-state='compact'] {
      .working-report__nav__inner {
        z-index: 200 !important;
        transform: translateY(0);

      }
      .working-report__nav__section {
        display: none;
        &.current {
          display: block;
          padding-right: 80px;
          height: 1.5em;
          overflow: hidden;
          pointer-events: none;
        }
        &.is-prev,
        &.is-next {
          display: block;
          position: absolute;
          top: 2px;
          .label {
            display: none;
          }
          .marker {
            cursor: pointer;
            display: block;
            width: 40px;
            height: 40px;
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 7px;
              left: 7px;
              width: 24px;
              height: 24px;
              // border: 1px solid rgba(#fff,0.5);
              border: 1px solid rgba(#052962,0.5);
              border-radius: 100%;
              // background-image: url(https://uploads.guim.co.uk/2020/12/09/arrow.svg);
              background-image: url(https://uploads.guim.co.uk/2020/12/10/arrow-brand.svg);
            }
            &:hover:before {
              border-color: #052962;
            }
          }
        }
        &.is-prev {
          right: 40px;
        }
        &.is-next {
          right: 0;
          .marker {
            transform: rotate(180deg);
          }
        }
      }

      .toggle-mobile-nav {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 100px;
        z-index: 210;
        cursor: pointer;
      }

    }

  }

}
