.working-report__nav {
  &__inner:before {
    content: 'Jump to';
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 15px;
    color: #fff;
  }

  &__section {
    &.current {
      font-weight: normal;
    }
    .label {
      font-family: "Guardian Headline", "Guardian Egyptian Web", "Guardian Text Egyptian Web",Georgia,serif;
      font-size: 18px;
      @include mq($until: desktop) {
        line-height: 18px;
        padding-top: 6px;
        padding-bottom: 6px;
      }
      font-weight: 600;
    }
  }
}

@import 'nav-desktop';
@import 'nav-mobile';
