.working-report__section {

  &__inner {

    padding: 12px 10px 0;
    font-size: 17px;
    line-height: 24px;
    max-width: 580px;

    @include mq(tablet) {
      color: #121212;
      max-width: none;
      width: 620px;
      padding-left: 20px;
      font-size: 17px;
      line-height: 24px;
      border-left: 1px solid #dcdcdc;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: -50px;
        left: -1px;
        width: 1px;
        background-color: #dcdcdc;
        height: 50px;
      }
    }
    @include mq(leftCol) {
      padding-left: 10px;
      margin-left: 170px;
    }
    @include mq(wide) {
      margin-left: 250px;
    }

    p {
      margin: 0 0 8px;
      font-size: inherit;
      line-height: inherit;
      @include mq(tablet) {
        margin-bottom: 12px;
      }
    }

    a {
      color: #052962;
      border-bottom: 1px solid #BDBDBD;
      transition: border-bottom 200ms;
      &:hover {
        border-bottom-color: #052962;
        text-decoration: none;
      }
    }

    h2 {
      font-family: "Guardian Headline", "Guardian Egyptian Web", "Guardian Text Egyptian Web",Georgia,serif;
      margin: 24px 0 12px;
      color: #052962;
      font-weight: 700;
      @include mq(tablet) {
        position: relative;
        margin: 32px 0 18px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: -8px;
          left: -20px;
          width: 660px;
          height: 1px;
          background-color: #dcdcdc;
        }
      }
      @include mq(desktop) {
        &:before {
          width: 640px;
        }
      }
      @include mq(leftCol) {
        &:before {
          left: -10px;
          width: 630px;
        }
      }
    }
  }
}
