.working-report__section {
  padding-top: 24px;
  @include mq(desktop) {
    padding-top: 32px;
  }
  .section-header {
    margin-bottom: 46px;
    position: relative;
    margin: 0;
    max-width: 100vw;
    overflow: hidden;


    h2 {
      font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
      background-color: #052962;
      color: #fff;
      margin-left: 10px;
      font-size: 48px;
      line-height: 1;
      padding: 2px 6px 48px 10px;
      margin: 0;
      margin-right: 8px;

      @include mq(mobileMedium) {
        font-size: 52px;
        margin-right: 24px;
        padding-right: 12px;
      }

      @include mq(tablet) {
        padding-top: 1px;
        font-size: 112px;
        line-height: 0.9;
        padding-bottom: 68px;
        margin-right: 80px;
        padding-left: 12px;
      }
      @include mq(desktop) {
        padding-top: 4px;
        margin-right: 180px;
        font-size: 132px;
        line-height: 0.85;
        padding-left: 15px;
      }

      @include mq(leftCol) {
        font-size: 160px;
        width: 920px;
        padding-right: 10px;
        padding-left: 17px;
      }
    }
    h3 {
      font-family: "Guardian Headline", "Guardian Egyptian Web", "Guardian Text Egyptian Web",Georgia,serif;
      padding: 6px 9px 26px 10px;
      background-color: #fff;
      border: 1px solid #DCDCDC;
      color: #041F4A;
      font-size: 20px;
      line-height: 24px;
      font-weight: 200;
      z-index: 2;
      margin: -27px 14px 0 10px;

      @include mq(mobileMedium) {
        margin-right: 10px;
      }

      @include mq(mobileLandscape) {
        width: 308px;
        left: 0;
      }
      @include mq(tablet) {
        width: 380px;
        position: relative;
        font-size: 22px;
        line-height: 24px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 26px;
          left: -21px;
          bottom: 0;
          background-color: #dcdcdc;
          width: 1px;
          height: 100%;
        }
      }
      @include mq(leftCol) {
        margin-left: 150px;
        &:before {
          display: none;
        }
      }
      @include mq(wide) {
        margin-left: 230px;
      }
    }
  }

}
